.homePageConteiner{
    background-color: rgb(34, 32, 32);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.466);
}

.sectionHomePage{
    width: 100%;
    height: 400px;
    display: flex;
}

.section1Text{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textContainer{
    padding: 10%;
    && h1{
        margin-bottom: 40px;
    }
    && p{
        margin-bottom: 30px;
    }
}

.section1Button{
    display: flex;
    && a{
        margin-right: 10px;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
    }
    && a:hover{
        color: white;
        background-color: rgb(17, 15, 15);;
    }
}


.section1Video{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContainer{
    && iframe{
        border-radius: 20px;
        overflow: hidden;
        display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    }
}



/* section services */

.sectionServices{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.serviceContainerGeneral{
    display: flex;
    height: 350px;
    width: 100%;
}
.serviceContainer{
    height: 100%;
    width: 25%;
    padding: 3%;
}

.service{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.425);
    display: flex;
    flex-direction: column;
    align-items: center;
    && h3{
        text-align: center;
    }
    && p{
        text-align: center;
        padding: 0px 15px;
    }
    && img{
        padding-top: 30px;
        width: 50%;

    }
}


.serviceText{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Section About Me*/


.sectionAboutMe{
    width: 100%;
    height: 500px;
    display: flex;
}

.imgContainerAboutMe{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0% 3%;

}

.imgContainer{
    width: 90%;
    overflow: hidden;
    && img{
        width: 100%;
        border-radius: 20px;
    }
}




.textContainerAboutMe{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.aboutMe{
    padding: 10% 20%  10% 0%;
}



/* Section Tecnologias */

.sectionTecnologias{
    padding-top: 200px;
    width: 100%;
    height: 200px;
    background-color: rgb(16, 18, 19);
}


.tecnologiasText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    && p{
        padding: 1% 0% 0% 3%;
    }
}










@media screen and (max-width: 1000px) {
    .homePageConteiner{
        overflow: visible;
    }

    .sectionHomePage{
        flex-direction: column;
        height: 800px;
        padding: 0%;
        padding-bottom: 100px;
    }
    .section1Text{
        width: 100%;
    }

    .textContainer{
        padding: 8%;
        && h1{
            margin-bottom: 40px;
            font-size: 20px;
        }
        && p{
            margin-bottom: 30px;
            font-size: px;
        }
    }

    .section1Button{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        && .linkButton{
            width: 90%;
            padding: 5px 10px;
            border-radius: 20px;
            cursor: pointer;
            border: none;
            text-align: center;
        }
    }
    
    .section1Video{
        width: 100%;
        
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    .videoContainer{
        width: 100%;
        padding: 8%;
        && iframe{
            border-radius: 20px;
            overflow: hidden;
            width: 100%;
            display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        }
    }
    
    


   /* section services */

.sectionServices{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}


.serviceContainerGeneral{
    display: flex;
    height: 350px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.serviceContainer{
    height: 100%;
    width: 40%;
    padding: 2%;
}

.service{
    position: relative;
    && h3{
        text-align: center;
        font-size: 15px;
    }
    && p{
        text-align: center;
        padding: 0px 5px;
    }
    && img{
        position: absolute;
        padding-top: 0px;
        width: 40%;
        bottom: 20px;

    }
}


.serviceText{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Section About Me*/


.sectionAboutMe{
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgContainerAboutMe{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;

}

.imgContainer{
    width: 90%;
    overflow: hidden;
}




.textContainerAboutMe{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMe{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 10% 20%  10% 0%;
    padding: 0%;
    && a{
        text-align: center;
    }
}



/* Section Tecnologias */

.sectionTecnologias{
    padding-top: 200px;
    width: 100%;
    height: 300px;
    background-color: rgb(16, 18, 19);
}


.tecnologiasText{
    flex-direction: column;
    padding: 8%;
}
}