.linkButton{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    margin: 10px 15px 10px 0px;
    padding: 5px 20px;
    background-color: rgb(26, 25, 25);
    border-radius: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.593);
}

.linkButton:hover{
    background-color: rgb(18, 17, 17);
    color: rgb(226, 220, 220);
}


@media screen and (max-width: 1000px) {
    .linkButton{
        width: 100%;
        padding: 0px;
    }
}