.filasConatiner{
    background-color: rgb(79, 77, 73);
}

.generalContiner{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.proyectosContainer{
    width: 95%;
    background-color: rgb(56, 54, 54);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.327);
}

.tables{
    width: 100%;
    position: relative;
    padding: 10px;
}

.tables td{
    width: 25%;
    && p{
        margin: 0;
    }
}



.buttonDelete{
    border: none !important;
    position: relative;
    && :first-child{
        position: absolute;
        top: 0;
        left: 12px;
        border: none !important;
        font-size: 25px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}


.buttonEdit{
    border: none !important;
    position: relative;
    && :first-child{
        position: absolute;
        top: 0;
        left: -8px;
        border: none !important;
        border: transparent;
        font-size: 25px;
    }
}

.celdaConteiner p{
    width: 100%;
    overflow: hidden !important;
}

.celdaConteinerImage{
    width: 100%;
    overflow: hidden !important;
}

.hoverCelda:hover{
    background-color: rgb(44, 41, 41);
}

.gestorPersonal{
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    && :first-child{
        margin: 0;
    }
    &&:nth-child(2){
        margin: 0;
    }
    && :nth-child(3){
        padding: 5px 20px;
        border-radius: 20px;
        background: rgb(23, 23, 26);
        color: white;
        text-decoration: none;
        margin-bottom: 20px;
    }
}

.notProject{
    width: 100%;
    display: flex;
    justify-content: center;
}

.notProjectAlert{
    background-color: rgb(22, 20, 20);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    && a{
        width: 300px;
        text-align: center;
    }
}